@use "@carbon/styles/scss/breakpoint" as *;
@use "@carbon/type" as *;

.landingPage {
  position: relative;

  .background {
    > div {
      position: fixed;
      z-index: -1;
    }

    .shapeTop {
      width: 1200px;
      top: -400px;
      transform: rotate(90deg);
      
      @include breakpoint-up(xlg) {
        left: -450px;
      }

      @include breakpoint-down(xlg) {
        left: -680px;
      }
      
      @include breakpoint-down(lg) {
        width: 900px;
        left: -310px;
      }

      @include breakpoint-down(md) {
        width: 600px;
        top: -240px;
        left: -220px;
      }
    }

    .shapeBottom {
      width: 900px;
      transform: rotate(112.5deg);
      bottom: -300px;
      right: -600px;

      @include breakpoint-down(lg) {
        width: 675px;
        right: -390px;
        bottom: -250px;
      }

      @include breakpoint-down(md) {
        width: 450px;
        right: -270px;
      }
    }
  }

  .contentWrapper {
    @include breakpoint-down(lg) {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    
    .content {
      &__header {
        margin: 40vh 0 32px;
        white-space: nowrap;

        @include type-style('fluid-display-04', true);
        
        @include breakpoint-up(xlg) {
          @include type-style('fluid-display-03', true);
        }
      }

      &__subhead {
        @include type-style('fluid-paragraph-01', true);
      
        @include breakpoint-down(lg) {
          font-size: 20px;
        }
      }

      &__action {
        margin: 48px 0;
        width: 216px;
      
        @include breakpoint-down(md) {
          margin-top: 32px;
        }
      }
    }
  }
}
