@use '@carbon/styles/scss/breakpoint' as *;

.membersSection {
  margin-top: 80px;
  
  @include breakpoint(md) {
    margin-top: 160px;
  }
}

.animatedBall {
  display: none;

  @include breakpoint(md) {
    display: block;
  }
}
