@use '@carbon/styles/scss/breakpoint' as *;
@use '@carbon/grid' as *;
@use '@carbon/type' as *;
@use '@carbon/colors' as *;
@use '../../styles/type.scss' as *;

.background {
  .ball {
    position: absolute;
    top: 90.5px;
    left: 250px;
    width: 141px;

    @include breakpoint(lg) {
      width: 194px;
      top: 231.5px;
      left: 128px;
    }

    @include breakpoint(xlg) {
      left: 348px;
    }

    @include breakpoint(max) {
      left: 278px;
    }
  }

  .shapeTop {
    position: absolute;
    transform: rotate(90deg);
    z-index: -2;
    width: 800px;
    top: -340px;
    left: -280px;

    @include breakpoint(lg) {
      width: 1100px;
      top: -360px;
      left: -600px;
    }
    
    @include breakpoint(xlg) {
      left: -380px;
    }
    
    @include breakpoint(max) {
      left: -450px;
    }
  }

  .shapeBottom {
    position: absolute;
    width: 1103px;
    z-index: -2;
    display: none;

    @include breakpoint(md) {
      display: block;
      transform: scale(0.75);
      right: -660px;
      top: 60px;
    }
    
    @include breakpoint(lg) {
      transform: scale(1);
      top: 0;
      right: -800px;
    }
    
    @include breakpoint(xlg) {
      right: -750px;
    }
  }
}

.content {
  position: relative;
  margin-bottom: 80px;
  grid-column: 1/span 4;
  
  @include breakpoint(md) {
    grid-column: 1/span 5;
    margin-bottom: 160px;
  }

  @include breakpoint(lg) {
    grid-column: 6/span 8;
    margin-bottom: 320px;
  }

  @include breakpoint(xlg) {
    grid-column: 7/span 8;
  }

  &__header {
    @include type-style('fluid-display-03', true);
    font-size: 56px;
    line-height: 64px;
    margin: 400px 0 32px;

    @include breakpoint(md) {
      font-size: 68px;
      line-height: 78px;
    }
    @include breakpoint(lg) {
      margin: 330px 0 32px;
    }
    @include breakpoint(xlg) {
      font-size: 76px;
      line-height: 86px;
    }
    @include breakpoint(max) {
      font-size: 84px;
      line-height: 94px;
    }

  }

  &__subhead {
    position: relative;
    @include subheading;
  }

  .action {
    margin-top: 32px;
    min-width: 216px;

    @include breakpoint(lg) {
      margin-top: 48px;
    }
  }
}