@use "@carbon/styles/scss/breakpoint" as *;
@use "@carbon/type" as *;
@use "@carbon/grid" as *;
@use '../../styles/type.scss' as *;

.faq {
  :global(.cds--accordion__item) {
    margin-left: calc($grid-gutter / -2);
    margin-right: calc($grid-gutter / -2);
  }

  :global(.cds--accordion__heading) {
    padding: 24px 16px;

    &[aria-expanded="false"] + :global(.cds--accordion__content) > * {
      opacity: 0;
    }

    &[aria-expanded="true"] + :global(.cds--accordion__content) > * {
      opacity: 1;
    }
  }

  :global(.cds--accordion__title) {
    @include paragraph;
    font-weight: 400 !important;
    padding: 0;
  }

  :global(.cds--accordion__content) {
    padding-bottom: 32px;
    
    @include breakpoint(lg) {
      padding-right: calc((100% / 8 * 3) - $grid-gutter / 2);
    }
    
    @include breakpoint(xlg) {
      padding-right: calc((100% / 3) - $grid-gutter / 2);
    }

    > * {
      transition: opacity .08s linear;
    }

    > p, > ul > li {
      @include paragraph;

      @include breakpoint(lg) {
        font-size: 20px;
        line-height: 28px;
      }
    }

    > p, ul {
      & + ul, + p {
        margin-top: 1.5rem;
      }
    }

    > ul > li {
      margin-top: 1rem;
      margin-left: $grid-gutter;
      list-style-type: disc;
    }
  }
}