@use "@carbon/styles/scss/breakpoint" as *;
@use "@carbon/type" as *;
@use "@carbon/grid" as *;
@use '@carbon/colors' as *;

.contactForm {
  padding-bottom: 160px;
  position: relative;

  @include breakpoint-down(lg) {
    padding-bottom: 80px;
  }

  &--bcg-straight {
    @include breakpoint-down(md) {
      padding-bottom: calc(48px + 160px);
    }
  }
  
  .emailSent {
    @include type-style('body-02');
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    background-color: #{$gray-100}c0;
    backdrop-filter: blur(5px);

    > div {
      position: relative;
    }
  }
}

.titleColumn {
  display: flex;
  flex-direction: column;
  
  .innerHeading {
    @include type-style('fluid-display-03', true);
    
    @include breakpoint-down(lg) {
      @include type-style('heading-06');
    }
  }

  .titleGraphics {
    position: relative;
    margin-top: 96px;
    flex: 1;
    overflow-y: clip;

    // md
    @include breakpoint-down(lg) {
      position: absolute;
      bottom: 0;
      right: $grid-gutter;
      width: calc(50% - (3 * $grid-gutter / 2));
      height: 128px;
      overflow: hidden;
    }

    // sm
    @include breakpoint-down(md) {
      position: absolute;
      bottom: 0;
      right: calc($grid-gutter / 2);
      width: calc(100% - $grid-gutter);
      height: 160px;
    }
    
    svg {
      position: absolute;
      top: 0;
      
      @include breakpoint(lg) {
        left: -20%;
      }
      
      @include breakpoint-up(xlg) {
        left: -33%;
        width: 115%;
      }
    }
  }
}

.footerGraphics {
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: 0;
  width: 50%;

  @include breakpoint-down(lg) {
    display: none;
  }
}