@use '@carbon/react' as *;
@use '@carbon/themes/scss/themes' as *;
@use '@carbon/themes';
@use '@carbon/styles/scss/breakpoint' as *;

:root {
  @include themes.theme($g100);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: dark;
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y proximity;

  @include breakpoint-down(md) {
    scroll-snap-type: none;
  }
}

h1 {
  @include type-style('fluid-display-01', true);
}

.cds--btn {
  height: 48px;
  border-radius: 24px;
  padding: 14px 24px;
  display: flex;
  align-items: center;
  font-size: 16px;

  svg {
    margin-left: 24px;
  }

  &.cds--btn--primary {
    background-color: $white-0;
    color: $gray-100;
    transition: opacity 0.1s ease-in-out;

    svg {
      fill: $gray-100;
    }

    &:focus {
      border-color: $white-0;
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow:
        inset 0 0 0 1px $white-0,
        inset 0 0 0 2px $gray-100;
      border-color: $white-0;
    }

    &:hover {
      opacity: 0.9;
    }

    &:active {
      opacity: 0.8;
    }
  }
}
