@use '@carbon/styles/scss/breakpoint' as *;
@use '@carbon/type' as *;
@use '@carbon/grid' as *;
@use '@carbon/colors' as *;
@use '../../styles/type.scss' as *;

.news {
  > section {
    &:not(:first-of-type) .grid {
      margin-top: 80px;
      
      @include breakpoint(lg) {
        margin-top: 160px;
      }
    }
  }

  .paragraph {
    @include paragraph;
  }

  .heading {
    border-bottom: solid 1px $white-0;
    padding-bottom: 48px;
    
    @include breakpoint(lg) {
      padding-bottom: 80px;
    }
  }

  .contentHeader {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .content {
    article {
      padding-bottom: 80px;
      border-bottom: solid 1px $white-0;

      h2 {
        margin-bottom: 48px;
      }
      
      .abstract {
        font-style: italic;
      }

      section {
        margin-top: 80px;
        
        > p, > ul > li {
          & + p, & + ul, & + li {
            margin-top: 1.5rem;
          }
        }

        > ul > li {
          list-style-type: disc;
          margin-left: 2rem;
        }
      }
    }
  }
}
