@use "@carbon/styles/scss/breakpoint" as *;
@use "@carbon/grid" as *;
@use '@carbon/colors' as *;

.contactForm {
  :global(.cds--label) {
    color: $white-0;
  }

  :global(.cds--text-input), :global(.cds--text-area) {
    border: solid 1px $white-0;
    border-radius: 24px;
    background-color: $gray-100;

    &::placeholder {
      color: $gray-40;
    }
  }

  :global(.cds--checkbox__validation-msg) {
    align-items: flex-start;

    svg {
      flex-shrink: 0;
    }
  }

  .field {
    width: 100%;
    margin-top: 24px;
    float: left;
    
    &:nth-of-type(1), &:nth-of-type(2) {
      margin-top: 0;
    }
    
    @include breakpoint-down(md) {
      &:nth-of-type(2) {
        margin-top: 24px;
      }
    }
    
    &--half-width {
      width: calc((100% - $grid-gutter) / 2);

      &:nth-of-type(2n + 1) {
        margin-right: $grid-gutter;
      }
      
      @include breakpoint-down(md) {
        width: 100%;
        margin-right: 0;
      }
    }

    &.acknowledge {
      width: calc((100% - $grid-gutter) / 2);
      margin-right: $grid-gutter;
      
      :global(.cds--checkbox-label-text) {
        padding-left: 16px;
      }
      
      @include breakpoint-down(lg) {
        width: 100%;
      }
    }
  }

  .link {
    text-decoration: underline;
    color: $white-0;
    
    &:hover {
      color: $gray-20;
    }

    &:focus {
      outline: none !important;
    }
    &:focus-visible {
      outline: solid 1px $white-0 !important;
    }
  }

  .submitBtn {
    float: right;
    margin-top: 24px;
    width: calc((100% - $grid-gutter) / 2);
    
    @include breakpoint-up(lg) {
      max-width: 216px;
    }
    
    @include breakpoint-down(lg) {
      float: left;
    }

    @include breakpoint-down(md) {
      width: 100%;
    }
  }
}