@use "@carbon/styles/scss/breakpoint" as *;
@use "@carbon/type" as *;
@use "@carbon/grid" as *;
@use '../../styles/type.scss' as *;

.learnMore {
  position: relative;

  > section {
    &:not(:first-of-type) .grid {
      margin-top: 80px;
      
      @include breakpoint(lg) {
        margin-top: 160px;
      }
    }

    .grid {
      row-gap: 48px;
    }
  }

  .contentRow {
    > p {
      @include paragraph;

      & + p {
        margin-top: 2rem;
      }
    }
  }

  .membersCta {
    margin-top: 48px;
    width: 100%;
    max-width: unset;

    @include breakpoint(md) {
      max-width: 240px;
    }
  }
}
